<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:fragment="title">SQL Injection</title>
	</head>
	<body>
		<div th:fragment="content">
			<h1>SQL Injection</h1>
			<div class="alert alert-secondary" role="alert">
				L'objectif est d'utiliser le formulaire ci-dessous afin de pouvoir s'identifier en tant qu'<strong>admin</strong>,
				sans connaitre son mot de passe
			</div>

			<h3>Login</h3>
			<div th:if="${message != null}" th:text="${message.text}" th:classappend="|alert-${message.level}|" class="alert" role="alert"></div>

			<form method="post">
				<div class="form-row align-items-center">
					<div class="col-sm-3 my-1">
						<input type="text" class="form-control" placeholder="Username" name="username">
					</div>
					<div class="col-sm-3 my-1">
						<input type="password" class="form-control" placeholder="Password" name="password">
					</div>
					<div class="col-auto my-1">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
