<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:fragment="title">Homepage</title>
	</head>
	<body>
		<div th:fragment="content">
			<h1>XXE</h1>
			
			<div class="alert alert-secondary" role="alert">
				<p>L'objectif est d'utiliser une injection XXE afin de récupérer des données sensibles du serveur.</p>
				<p>Essayer par exemple de récupérer le fichier :</p>
				<ul>
					<li>Sous Windows : C:\Windows\System32\drivers\etc\hosts</li>
					<li>Sous Linux : /etc/passwd</li>
				</ul>
				<p>Pour celà, cette page permet d'importer des produits en base depuis un fichier XML</p>
				<p>
					Vous pouvez télécharger le template de ce fichier ici :
					<a th:href="@{/files/xxe_template.xml}" download href="#">Template XML</a>
				</p>
			</div>
	
			<h3>Importer des produits :</h3>
			<form method="post" enctype="multipart/form-data">
				<input type="file" name="import" />
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
</html>
